.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
}
.list{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
li{
    margin-right: 65px;
    list-style: none;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
.cart{
    display: flex;
    align-items: center;

}
button{
    background-color: white;
    color: black;
    width: 80px;
    height: 38px;
    border-radius: 5px;
    /* margin-top: 13px; */
    margin-right: 15px;
    cursor: pointer;
}
.p{
    border: 2px solid black;
    width: 26px;
    height: 26px;
    /* margin-top: 13px; */
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 10px;
    background-color: aliceblue;
    text-align: center;
}